[Unit]
Description=Suspend Running libvirt Guests before libvirt-guests
Wants=libvirtd.service
After=network.target
After=libvirt-guests.service

[Service]
EnvironmentFile=-/etc/profile.d/libvirt.sh
# Hack just call traditional service until we factor
# out the code
ExecStart=/usr/local/heartbeat_up.sh ${VIRT_NAS} ${VIRT_NAS_POOL}
ExecStop=/usr/local/heartbeat_down.sh ${VIRT_NAS} ${VIRT_NAS_POOL}
Type=oneshot
RemainAfterExit=yes
StandardOutput=journal+console
TimeoutStopSec=0

[Install]
WantedBy=multi-user.target
